{% extends 'index.html' %}

{% block title %}Edit user{% endblock %}

{% block content %}

<h1>Edit user</h1>
  <form action="{{ url_for('edit_user', user_id=user.id)}}", method="POST" >
    <label for="first_name">First Name</label>
    <input type="text" name="first_name" placeholder="Enter your first name">
    <label for="last_name">Last Name</label>
    <input type="text" name="last_name" placeholder="Enter your last name">
    <label for="image_url">Image URL</label>
    <input type="url" name="image_url" placeholder="Provide an image of this user">
    <button>Save</button>
  </form>
  <form action="{{ url_for('user_info', user_id=user.id)}}" method="GET">
    <button type="submit">Cancel</button>
  </form>

{% endblock %}