{% extends 'base.html' %}

{% block title %}{{user.first_name}} {{user.last_name}}{% endblock %}

{% block content %}

<section class="container">
  <section class="row">
    <section class="col">
      <img class="profile-img w-50 p-3" src="{{user.image_url}}">
    </section>
    <section class="col">
      <h1>{{user.first_name}} {{user.last_name}}</h1>
      <a href="{{ url_for('edit_user', user_id=user.id)}}">Edit</a>
      <a href="{{ url_for('delete_user', user_id=user.id)}}">Delete</a>
      <table>
        <h2>Posts</h2>
        <tbody>
          {% for post in user.posts %}
            <tr>
              <td><li>
                  <a href="/users/{{user.id}}/posts/{{post.id}}">{{post.title}}</a>
                  <small>{{ post.friendly_date }}</small>
                  </li>
              </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('create_post', user_id=user.id)}}">Add Post</a></section>
  </section>
</section>

{% endblock %}